<!DOCTYPE html>
<html>
	<head>
		<title>About | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<h1>About Page</h1>
		<p>
  			The <a href=''><em>Ruby on Rails</em> Tutorial</a> is a book about..<br>
  			well Ruby on Rails. This is one sample application.
		</p>
	</body>
</html>


