<!DOCTYPE html>
<html>
	<head>
		<title>Help | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<h1>Help Page</h1>
		<p>
			Need help? Click on this non-working <a href=''>link</a>.
		</p>
	</body>
</html>



